<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139217094496-pta1so52m9ho972mc5utc3t6pgg56cu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139217094496-pta1so52m9ho972mc5utc3t6pgg56cu6</string>
	<key>API_KEY</key>
	<string>AIzaSyC-KnZeENtUyv2nYnUpQPY0AQ9EqKB6P3k</string>
	<key>GCM_SENDER_ID</key>
	<string>139217094496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dhirApp</string>
	<key>PROJECT_ID</key>
	<string>tigaad-9957b</string>
	<key>STORAGE_BUCKET</key>
	<string>tigaad-9957b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139217094496:ios:a0cdb9b921869b1dce8005</string>
</dict>
</plist>